# Dependencies
node_modules

# Build output
dist/

# Prisma
/generated/prisma

# Environment variables
.env
.env*.local

# Vercel
.vercel

# Test coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
